<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <p:dialog header="Detalle de Usuario" 
              appendTo="@(body)" id="dialogoUsuario" widgetVar="dialogoDetalleUsuario" modal="true" height="100">
        <h:form id="dialogoUsuarioForm">
            <h:outputText value="Usuario: #{usersBean.selectedUser.name}" />

            <br/>
            <div style="float: right">
                <p:commandButton id="btn_cancel" value="Cerrar" onclick="PF('dialogoDetalleUsuario').hide()"/>
            </div>
        </h:form>
    </p:dialog> 
</html>
