<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
    </h:head>
    <h:body>
        <h1>USER MANAGER APP 1.0</h1>
        <h:form>
            <p:dataTable var="usr" value="#{usersBean.users}">
                <p:column headerText="Id Usuario">
                    <h:outputText value="#{usr.id}" />
                </p:column>
                <p:column headerText="Nombre">
                    <h:outputText value="#{usr.name}" />
                </p:column>
                <p:column headerText="Roles">
                    <p:dataList value="#{usr.roles}" var="rol">
                        #{rol.nombre}
                    </p:dataList>
                </p:column>
                <p:column headerText="Acciones">
                    <p:commandButton  actionListener="#{usersBean.pressButton(usr)}" 
                                      onclick="PF('dialogoDetalleUsuario').show();" 
                                      update=":dialogoUsuarioForm" icon="fa fa-search" title="Ver información de Usuario" />
                </p:column>
            </p:dataTable>
        </h:form>

        <!-- DIALOGS -->
        <ui:include src="/detalle-usuario.xhtml"/>
    </h:body>
</html>