<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- USER DETAIL -->
    <p:dialog header="Detalle de Usuario" widgetVar="showUserDialog" id="showUserDialog" appendTo="@(body)" modal="true" showEffect="fade" hideEffect="fade" resizable="false" > 
        <h:form id="showUserForm">
            <p:panelGrid columns="2" style="width: 560px; height: 440px; margin:0 auto;">   
                <p:outputLabel value="Username:" />
                <h:outputText value="#{userDialogController.user.username}"/>

                <p:outputLabel value="ombre:" />
                <h:outputText value="#{userDialogController.user.name}"/>

                <p:outputLabel value="Email:" />
                <h:outputText value="#{userDialogController.user.email}"/>

                <p:outputLabel value="Rol:" />
                <p:dataList value="#{userDialogController.user.roles}" var="role" class="datalist-noborder" emptyMessage="">
                    #{role.nombre}
                </p:dataList>

            </p:panelGrid>

            <br/>
            <div style="float: right">
                <p:commandButton id="btn_cancel" value="Cerrar" onclick="PF('showUserDialog').hide()"/>
            </div>
        </h:form>
    </p:dialog> 
</html>
