<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- NEW USER -->
    <p:dialog header="Crear Usuario" widgetVar="newUserDialog" id="newUserDlg" appendTo="@(body)" modal="true" showEffect="fade" hideEffect="fade" resizable="false" > 
        <h:form id="newUserForm">
            <p:messages autoUpdate="true" showDetail="false" showSummary="true"/>
            <p:panelGrid columns="2" style="width: 550px; height: 400px; margin:0 auto;">   
                <p:outputLabel for="txt_username" value="Username:" />
                <p:inputText id="txt_username" validator="#{userDialogController.validateUser}" value="#{userDialogController.user.username}" required="true">
                    <p:ajax event="change" update="txt_username" />
                </p:inputText>

                <p:outputLabel for="txt_password" value="Password:" />
                <p:password id="txt_password" value="#{userDialogController.user.password}" feedback="true" />

                <p:outputLabel for="name" value="Nombre:" />
                <p:inputText id="name" value="#{userDialogController.user.name}" required="true"/>

                <p:outputLabel for="id_card_number" value="Email:" />
                <p:inputText id="id_card_number" value="#{userDialogController.user.email}" required="false"/>

               
                 <p:outputLabel for="address" value="Dirección:" />
                <p:inputTextarea id="address" value="#{userDialogController.user.address}" required="false"  rows="6" cols="33"/>
                
               
                <p:outputLabel for="phone" value="Teléfono:" />
                <p:inputMask id="phone" value="#{userDialogController.user.phone}" required="false" mask="(+569)9 999-9999"/>
                
                
                
                
                
                <p:outputLabel for="roles" value="Roles: " />                     
                <p:selectManyMenu id="roles" required="true" value="#{userDialogController.user.roles}" var="role" showCheckbox="true" converter="userRoleConverter">
                    <f:selectItems value="#{userDialogController.userRoles}" var="userRole" itemValue="#{userRole}" itemLabel="#{userRole.nombre}"/>
                    <p:column>
                        <h:outputText value="#{role.nombre}" />
                    </p:column>
                </p:selectManyMenu>
            </p:panelGrid>

            <br/>
            <div style="float: right">
                <p:commandButton value="Guardar" action="#{userDialogController.doCreateUser}" 
                                 update="usersForm:usersTable" process=":newUserForm" 
                                 oncomplete="handleSubmitRequest(xhr, status, args,'newUserDialog')"/>
                &#160;&#160;
                <p:commandButton id="userClose" value="Cerrar" type="reset" onclick="PF('newUserDialog').hide()"/>
            </div>
        </h:form>
    </p:dialog> 
</html>