html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#wrapper {
    min-height:100%;
    position:relative;
}
#header {
    padding:10px;
}
#container {
    padding-bottom: 50px; /* Height of the footer element */
}
#footer {
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
}

.ui-tabs .ui-tabs-panel{
    border-width: 0;
    padding: 5px 10px;
    background: none;
}

/*.ui-widget, .ui-widget-content,
.ui-widget .ui-widget { font-size: 95% !important;}
.ui-column-title{ font-size: 90% !important;}
.ui-selectonemenu-list-item { font-size: 80% !important;}
.ui-chkbox {font-size: 80% !important;}
.ui-chkbox-box {font-size: 80% !important;}
.ui-paginator {font-size: 80% !important;}
.ui-paginator-rpp-options {font-size: 80% !important;}
.ui-selectlistbox-item {font-size: 80% !important;}
.ui-datatable .ui-column-filter { width: 90%;}*/
.ui-datatable table, .ui-datatable-resizable table {table-layout: auto !important;}
.ui-datatable-scrollable table {table-layout: fixed !important;}
.ui-inputfield{width: auto}
.ui-row-editor{ display: inline-flex; }
.text-uppercase { text-transform: uppercase; }
.datalist-noborder .ui-widget-content {border: none;}
.datalist-noborder  {border: none !important;background-color: transparent !important;}
.panelgrid-noborder .ui-panelgrid-cell {border: none  !important;}
/*.panelgrid-noborder .ui-widget-content {border: none;}*/
.panelgrid-border-none { width: 100% }
.panelgrid-border-none .ui-panelgrid-cell {border: none  !important;}
.panelgrid-border-none .ui-widget-content {border: none  !important;}
.hide-column-names table thead tr { display: none;}
.ui-wizard-step-title{ text-align: center;}
label{ font-weight: bold;}
.summary-head{width: 121px; font-size: 80%; font-weight: bold;}
.summary-row{font-weight: bold; font-size: 75%; border: 1px solid #C5DBEC; text-align: center; padding: 5px 0px 5px 0px}
.deleted-row{ background: none repeat scroll 0 0 #B3B3CC !important;}
.cellstatuscolor { background: gainsboro !important;}
.ui-clock {
    padding: 0xp !important;
    background: none !important;
    border: 0px !important;
    border-radius: 0px !important;
    color: inherit !important;
    font-weight: normal !important;
}
/*.ui-datatable tbody td, .ui-datatable thead th, .ui-datatable tfoot th { font-size: 75% !important; }*/

/*.ui-menuitem-text  { font-size: 90% !important;}
.ui-widget-header  { font-size: 90% !important;}
.ui-panel-title  { font-size: 90% !important;}*/