<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">
    <h:form>
        <p:outputPanel id="menuPanel">
            <p:menu id="mainMenu">
                <p:submenu label="Administración" rendered="#{loginBean.isUserInRoles('ADMINISTRADOR')}">

                    <p:menuitem value="Usuarios" icon="ui-icon-person" styleClass="#{navigationBean.getCurrentPage() eq 'users/management'?'ui-state-active':''}"
                                actionListener="#{navigationBean.setCurrentPage('users/management', true)}"
                                rendered="#{loginBean.isUserInRoles('ADMINISTRADOR')}"/>
                    <p:menuitem value="Notificaciones" icon="fa fa-paper-plane" styleClass="#{navigationBean.getCurrentPage() eq 'notifications/management'?'ui-state-active':''}"
                                actionListener="#{navigationBean.setCurrentPage('notifications/management', true)}" 
                                rendered="#{loginBean.isUserInRoles('ADMINISTRADOR')}"/>
                </p:submenu>
            </p:menu>
        </p:outputPanel>
    </h:form>
</ui:composition>
