<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./templates/template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="metadata">
        metadata
    </ui:define>

    <ui:define name="head">
        head
    </ui:define>

    <ui:define name="content">
        <p:dataTable var="usr" value="#{usersBean.users}">
            <p:column headerText="Id">
                <h:outputText value="#{usr.id}" />
            </p:column>

            <p:column headerText="Year">
                <h:outputText value="#{usr.name}" />
            </p:column>

            <p:column headerText="Brand">
                <h:outputText value="#{usr.email}" />
            </p:column>

            <p:column headerText="Color">
                <h:outputText value="#{usr.username}" />
            </p:column>
            <p:column headerText="Roles">
                <p:dataList value="#{usr.roles}" var="rol" type="ordered">
       
        #{rol.nombre}
    </p:dataList>
            </p:column>
            <p:column headerText="Acciones">
                 <p:commandButton actionListener="#{userBean.ClickButton}" id="iconOnly" update="growl" icon="fa-search" title="Icon Only" 
                                  onclick="PF('dialog1').show()"
                                  />
            </p:column>
        </p:dataTable>
        
        
        
        <ui:include src="dialogs/dialog1.xhtml"/>
    </ui:define>

</ui:composition>
