<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- UPDATE USER -->
    <p:dialog header="Actualizar Usuario" widgetVar="updateUserDialog" id="updateUserDialog" appendTo="@(body)" modal="true" showEffect="fade" hideEffect="fade" resizable="false" > 
        <h:form id="updateUserForm">
            <p:messages autoUpdate="true" showDetail="false" showSummary="true"/>
            <p:panelGrid columns="2" style="width: 550px; height: 400px; margin:0 auto;">   
                <p:outputLabel for="username" value="UserName:" />
                <h:outputText id="username" value="#{userDialogController.user.username}"/>
                <p:outputLabel for="name" value="Nombre:" />
                <p:inputText id="name" value="#{userDialogController.user.name}" required="true"/>
                <p:outputLabel for="id_card_number" value="Email:" />
                <p:inputText id="id_card_number" value="#{userDialogController.user.email}" required="false"/>

                <p:outputLabel for="roles" value="Roles: " />                     
                <p:selectManyMenu id="roles" required="true" value="#{userDialogController.user.roles}" var="role" showCheckbox="true" converter="#{userRoleConverter}">
                    <f:attribute name="collectionType" value="java.util.ArrayList" />
                    <f:selectItems value="#{userDialogController.userRoles}" var="userRole" itemValue="#{userRole}" itemLabel="#{userRole.nombre}"/>
                    <p:column>
                        <h:outputText value="#{role.nombre}" />
                    </p:column>
                </p:selectManyMenu>
            </p:panelGrid>
            <br/>
            <div style="float: right">
                <p:commandButton value="Actualizar" action="#{userDialogController.doUpdateUser()}" 
                                 update=":usersForm:usersTable" process=":updateUserForm" 
                                 oncomplete="handleSubmitRequest(xhr, status, args,'updateUserDialog')"/>
                &#160;&#160;
                <p:commandButton id="userClose" value="Cerrar" type="reset" onclick="PF('updateUserDialog').hide()"/>
            </div>
        </h:form>
    </p:dialog> 
</html>