<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <center>
        <h:form id="headerForm">
            <table border="0" style="width: 100%;">
                <tbody>
                    <tr>
                        <td rowspan="3" style="vertical-align: central">
                            <p:link outcome="#{navigationBean.homePath}">
                                <p:graphicImage name="images/gechs.png" height="36"/>
                            </p:link>
                        </td>
                        <td colspan="3" align="right" style="vertical-align: top"></td>
                    </tr>
                    <tr>
                        <td align="right" width="25%" style="font-size: 12px; vertical-align: central">
                            <span><h:outputText value="Usuario" />:</span>
                            <span><b id="header-username">#{loginBean.userLogged.username} |</b></span>
                        </td>
                        <td align="right" width="25%" style="font-size: 12px; vertical-align: central">
                            <span><h:outputText value="Perfil" />:</span>
                            <span><b id="header-perfil">#{loginBean.userRoles}</b></span>
                        </td>
                        <td>
                            <span><h:outputText value="&#160;&#160;&#160;&#160;" /></span>
                            <p:themeSwitcher effectSpeed="normal" effect="fade" style="width:165px" id="defaultSwitcher" value="#{themeSwitcherBean.theme}">
                                <f:selectItem itemLabel="Choose Theme" itemValue="" />
                                <f:selectItems value="#{themeSwitcherBean.themes}" var="theme" itemLabel="#{theme.displayName}" />
                                <p:ajax global="false" listener="#{themeSwitcherBean.saveTheme}" />
                            </p:themeSwitcher>
                        </td>

                        <td align="right" width="15%">
                            &#160;
                            <p:commandButton actionListener="#{loginBean.doLogout(true)}" icon="ui-icon-close" title="Cerrar sessión" ajax="true"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </h:form>
    </center>
</ui:composition>
