<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- CREATE NOTIFICATION -->
    <p:dialog header="Detalle Notificación" widgetVar="emailNotificationDetailDialog" width="1200" appendTo="@(body)" modal="true" 
              showEffect="fade" hideEffect="fade" resizable="false" position="top">
        <h:form id="emailNotificationDetailInfoForm">
            <p:outputPanel id="emailNotificationDetailPanel">
                <p:messages id="messages" showDetail="true" closable="true" autoUpdate="true"/>
                <p:panel header="Detalle de Notificación" style="margin: 0px auto; margin-bottom: 20px; width: 100%" rendered="#{loginBean.isUserInRoles('ADMINISTRADOR')}">
                    <p:panelGrid style="width: 100%" class="panelgrid-noborder">
                        <p:row>
                            <p:column style="vertical-align: top;">
                                <p:outputLabel value="Tipo de Notificación:"/>
                            </p:column>
                            <p:column>
                                <h:outputText value="#{emailNotificationView.selectedEmailNotification.type}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="vertical-align: top;">
                                <p:outputLabel value="Tipo de Servidor:"/>
                            </p:column>
                            <p:column>
                                <h:outputText value="#{emailNotificationView.selectedEmailNotification.mailServerType}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="vertical-align: top;">
                                <p:outputLabel value="Email de Origen:"/>
                            </p:column>
                            <p:column>
                                <h:outputText value="#{emailNotificationView.selectedEmailNotification.originEmailAddress}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="vertical-align: top;">
                                <p:outputLabel value="Email Destinatario:"/>
                            </p:column>
                            <p:column>
                                <h:outputText value="#{emailNotificationView.selectedEmailNotification.destinationEmailAddress}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="vertical-align: top;">
                                <p:outputLabel value="Asunto:"/>
                            </p:column>
                            <p:column>
                                <h:outputText value="#{emailNotificationView.selectedEmailNotification.emailSubject}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="vertical-align: top;">
                                <p:outputLabel value="Contenido:"/>
                            </p:column>
                            <p:column>
                                <p:scrollPanel mode="native" style="height:300px">
                                    <h:outputText value="#{emailNotificationView.selectedEmailNotification.emailContent}" escape="false" style="width: 100%; height: 300px"/>
                                </p:scrollPanel>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:panel>
                <br></br>
                <hr></hr>
                <p:dataTable value="#{emailNotificationView.selectedEmailNotificationDocuments}" var="attachmentFile"  id="documentsTable">
                    <f:facet name="header">
                        <h:outputText value="Attachments" />
                    </f:facet>
                    <p:column headerText="Nombre Documento">
                        <h:outputText value="#{attachmentFile.documentName}" />
                    </p:column>
                </p:dataTable>
            </p:outputPanel>
            <br></br>
            <hr></hr>
            <br></br>            
            <br></br>
            <div style="float: right">
                <p:commandButton id="btn_send" value="Re-Enviar" rendered="#{loginBean.isUserInRoles('ADMINISTRADOR')}"
                                 oncomplete="handleSubmitRequest(xhr, status, args,'emailNotificationDetailDialog')"  action="#{emailNotificationView.sendNotification(emailNotificationView.selectedEmailNotification)}"
                                 update=":emailNotificationsForm:emailNotificationsTable">
                </p:commandButton>
                &#160;&#160;
                <p:commandButton id="btn_close" value="Cerrar" onclick="PF('emailNotificationDetailDialog').hide()"/>
            </div>
        </h:form>
        <br/>
    </p:dialog>
</html>