<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

    <f:view contentType="text/html" id="fview" locale="#{utilsBean.locale}">
        <h:head>
            <title><h:outputText value="Gechs Survey Example" /></title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}"/>
        </h:head>

        <h:body>
            <h:outputStylesheet name="css/default.css" />

            <div id="wrapper">
                <p:layout fullPage="true" resizeTitle="resize">
                    <p:layoutUnit position="center">
                        <div id="header" align="center">
                            <br/> 
                            <p:graphicImage name="images/gechs.png" style="width: 15%"/>
                            <br/> 
                            <br/>
                            <br/>
                            <br/>
                        </div>

                        <div id="container" align="center">
                            <h:form id="loginForm">
                                <p:panel header="Login" style="width: 30%;">
                                    <h:panelGrid id="loginPanel" columns="1">
                                        <p:inputText id="j_username" value="#{loginBean.username}" required="true" requiredMessage="Valor requerido"
                                                     placeholder="Usuario"/>
                                        <p:spacer/>
                                        <p:password id="j_password" value="#{loginBean.password}" required="true" requiredMessage="Valor requerido"
                                                    placeholder="Contraseña"/>
                                        <p:spacer/>
                                        <h:outputText value="#{loginBean.errorMessage}" style="color: red"/>

                                        <p:spacer/>
                                        <p:spacer/>
                                        <p:spacer/>
                                        <p:commandButton action="#{loginBean.doLogin()}" value="Ingresar" update="loginForm" ajax="true"/>
                                        <p:spacer/>
                                        <p:spacer/>
                                    </h:panelGrid>
                                </p:panel>
                            </h:form>
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40">
                        <ui:include src="templates/footer.xhtml" />
                    </p:layoutUnit>
                </p:layout>
            </div>
        </h:body>
    </f:view>
</html>