<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <!-- CREATE NOTIFICATION -->
    <p:dialog header="Nueva Notificación" widgetVar="emailNotificationDialog" width="1200" appendTo="@(body)" modal="true" 
              showEffect="fade" hideEffect="fade" resizable="false" position="top">
        <h:form id="emailNotificationInfoForm">
            <p:outputPanel id="emailNotificationPanel">
                <p:messages id="messages" showDetail="true" closable="true" autoUpdate="true"/>
                <p:panel header="Detalle" style="margin: 0px auto; margin-bottom: 20px; width: 100%" rendered="#{loginBean.isUserInRoles('ADMINISTRADOR')}">
                    <p:panelGrid style="width: 100%" class="panelgrid-noborder">
                        <p:row>
                            <p:column style="vertical-align: top;">
                                <p:outputLabel value="Tipo de Notificación:" for="txt_type" style="vertical-align: top;"/>                                
                            </p:column>
                            <p:column>
                                <p:selectOneMenu id="txt_type"  value="#{emailNotificationView.emailNotification.type}" required="true">
                                    <f:selectItem itemLabel="Seleccione" itemValue="#{null}" />
                                    <f:selectItems value="#{emailNotificationController.emailNotificationTypes}" var="type" itemValue="#{type}" itemLabel="#{type}"/>
                                </p:selectOneMenu>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="vertical-align: top;">
                                <p:outputLabel value="Tipo de Servidor:" for="txt_mail_server_type" style="vertical-align: top;"/>                                
                            </p:column>
                            <p:column>
                                <p:selectOneMenu id="txt_mail_server_type"  value="#{emailNotificationView.emailNotification.mailServerType}" required="true">
                                    <f:selectItem itemLabel="Seleccione" itemValue="#{null}" />
                                    <f:selectItems value="#{emailNotificationView.mailServerTypes}" var="mailServerType" itemValue="#{mailServerType}" itemLabel="#{mailServerType}"/>
                                </p:selectOneMenu>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="vertical-align: top;">        
                                <p:outputLabel value="Dirección Origen:" for="txt_from"/>                                
                            </p:column>
                            <p:column>       
                                <p:inputText id="txt_from" value="#{emailNotificationView.emailNotification.originEmailAddress}"  style="width: 100%;" readonly="true"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="vertical-align: top;">        
                                <p:outputLabel value="Destinatarios:" for="txt_to"/>
                            </p:column>
                            <p:column>     
                                <p:inputTextarea id="txt_to" value="#{emailNotificationView.emailNotification.destinationEmailAddress}" required="true" style="width: 100%; height: 60px" readonly="false"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column style="vertical-align: top;">        
                                <p:outputLabel value="Asunto:" for="txt_subject"/>
                            </p:column>
                            <p:column>           
                                <p:inputText id="txt_subject" value="#{emailNotificationView.emailNotification.emailSubject}" required="true" style="width: 100%"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column  style="vertical-align: top;">        
                                <p:outputLabel value="Contenido:" for="txt_body"/>
                            </p:column>
                            <p:column>        
                                <pe:ckEditor id="txt_body" widgetVar="editorWidget" value="#{emailNotificationView.emailNotification.emailContent}" width="100%" height="400px"
                                             toolbar="#{emailNotificationView.toolbarConfig}"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:panel>
                <br></br>
                <hr></hr>
                <p:toolbar>
                    <f:facet name="right">
                        <p:commandButton value="Editar" actionListener="#{emailNotificationView.reinitDocument()}" 
                                         rendered="#{loginBean.isUserInRoles('ADMINISTRADOR')}"
                                         update=":mailAttachmentsForm"
                                         oncomplete="PF('emailNotificationDocumentsDialog').show()" icon="fa fa-plus" title="Agregar Documents"/>
                    </f:facet>
                </p:toolbar>
                <p:dataTable value="#{emailNotificationView.emailNotificationDocuments}" var="attachmentFile"  id="documentsTable">
                    <f:facet name="header">
                        <h:outputText value="Attachments" />
                    </f:facet>
                    <p:column headerText="Nombre Documento">
                        <h:outputText value="#{attachmentFile.documentName}" />
                    </p:column>
                </p:dataTable>
            </p:outputPanel>
            <br></br>
            <hr></hr>
            <br></br>            
            <br></br>
            <div style="float: right">
                <p:commandButton id="btn_send_and_save" value="Enviar y Guardar" rendered="#{loginBean.isUserInRoles('ADMINISTRADOR')}"
                                 oncomplete="handleSubmitRequest(xhr, status, args,'emailNotificationDialog')"  action="#{emailNotificationView.doSaveAndSend()}"
                                 update=":emailNotificationsForm:emailNotificationsTable" onsuccess="PF('editorWidget').destroy()">
                </p:commandButton>
                &#160;&#160;
                <p:commandButton id="btn_save" value="Guardar" rendered="#{loginBean.isUserInRoles('ADMINISTRADOR')}"
                                 oncomplete="handleSubmitRequest(xhr, status, args,'emailNotificationDialog')"  action="#{emailNotificationView.doSave()}"
                                 update=":emailNotificationsForm:emailNotificationsTable" onsuccess="PF('editorWidget').destroy()">
                </p:commandButton>
                &#160;&#160;
                <p:commandButton id="btn_close" value="Cerrar" onclick="PF('emailNotificationDialog').hide()" onsuccess="PF('editorWidget').destroy()"/>
            </div>
        </h:form>
        <br/>
    </p:dialog>
</html>