<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="content">
        <h:form id="usersForm">

            <p:outputPanel id="displayUsers">
                <p:dataTable id="usersTable" widgetVar="usersTable" var="euser" value="#{userController.users}" 
                             paginator="true" rows="10" rowKey="#{euser.username}" paginatorPosition="bottom"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" 
                             rowsPerPageTemplate="10,20,50" lazy="true" filterDelay="0">

                    <p:column headerText="Username" sortBy="#{euser.username}">
                        <p:commandLink update=":showUserForm" oncomplete="PF('showUserDialog').show()" actionListener="#{userDialogController.setUser(euser)}" >
                            <h:outputText value="#{euser.username}" />
                        </p:commandLink>
                    </p:column>

                    <p:column headerText="Nombre" sortBy="#{euser.name}">
                        <h:outputText value="#{euser.name}" />
                    </p:column>

                    <p:column headerText="Email" sortBy="#{euser.email}">
                        <h:outputText value="#{euser.email}" />
                    </p:column>
                    <p:column headerText="Address" sortBy="#{euser.address}">
                        <h:outputText value="#{euser.address}" />
                    </p:column>
                    <p:column headerText="Phone" sortBy="#{euser.phone}">
                        <h:outputText value="#{euser.phone}" />
                    </p:column>
                    <p:column headerText="Roles">
                        <p:dataList value="#{euser.roles}" var="role" emptyMessage="" styleClass="datalist-noborder">
                            #{role.nombre}
                        </p:dataList>
                    </p:column>

                    <p:column headerText="Acciones" exportable="false" style="text-align: center">
                        <p:commandButton update=":updateUserForm" oncomplete="PF('updateUserDialog').show()" icon="fa fa-edit"
                                         rendered="#{(loginBean.isUserInRoles('ADMINISTRADOR'))}" actionListener="#{userDialogController.resetUser()}"
                                         title="Actualizar">
                            <f:setPropertyActionListener value="#{euser}" target="#{userDialogController.user}" />
                        </p:commandButton>

                        <p:commandButton actionListener="#{userDialogController.doDeleteUser(euser.username)}" update=":usersForm:usersTable"
                                         rendered="#{(loginBean.isUserInRoles('ADMINISTRADOR'))}"
                                         icon="fa fa-trash" title="Eliminar">
                            <p:confirm header="Eliminación de Usuario" message="¿Esta seguro que desea eliminar el usuario?" icon="fa fa-warning" />
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
                        </p:confirmDialog>

                    </p:column>

                    <f:facet name="footer">
                        <p:panel style="text-align: left;">
                            <p:commandButton value="Nuevo usuario" actionListener="#{userDialogController.resetUser()}" 
                                             oncomplete="PF('newUserDialog').show()" icon="ui-icon-plus" title="Nuevo usuario" update=":newUserForm"
                                             rendered="#{loginBean.isUserInRoles('ADMINISTRADOR')}"/>
                            &#160;
                            <div style="float: right">
                                <h:commandLink>
                                    <p:graphicImage name="images/excel.png" width="24"/>
                                    <p:dataExporter type="xls" target="usersTable" fileName="gechs.users" />
                                </h:commandLink>
                            </div>
                        </p:panel>
                    </f:facet>
                </p:dataTable>
            </p:outputPanel>
        </h:form>

        <!-- DIALOGS -->
        <ui:include src="dialogs/create.xhtml"/>
        <ui:include src="dialogs/update.xhtml"/>
        <ui:include src="dialogs/detail.xhtml"/>
    </ui:define>
</ui:composition>