<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
    </h:head>
    <h:body>
        <h1>SURVEY APP 1.0</h1>
        <h:form>
            <p:dataTable var="user" value="#{usersBean.users}">
                <p:column headerText="Id">
                    <h:outputText value="#{user.id}" />
                </p:column>

                <p:column headerText="Nombre">
                    <h:outputText value="#{user.name}" />
                </p:column>

                <p:column headerText="Email">
                    <h:outputText value="#{user.email}" />
                </p:column>

                <p:column headerText="Username">
                    <h:outputText value="#{user.username}" />
                </p:column>
                <p:column headerText="Roles">
                <p:dataList value="#{usr.roles}" var="rol" type="ordered">
       
        #{rol.nombre}
    </p:dataList>
            </p:column>
            <p:column headerText="Acciones">
                 <p:commandButton actionListener="#{userBean.ClickButton}" id="iconOnly" update="growl" icon="fa-search" title="Icon Only" 
                                  onclick="PF('dialog1').show()"
                                  />
            </p:column>
        </p:dataTable>
        
        
        
        <ui:include src="/pages/users/dialogs/dialog1.xhtml"/>
          
        </h:form>

    </h:body>
</html>