<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div id="footer">
        <table style="margin: 0px auto;">
            <tr>
                <td>
                    <br></br>
                    <h7 style="font-size: 70% !important;">Curso Gechs 2016.</h7>
                </td>
            </tr>
        </table>
    </div>
</ui:composition>
