<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <f:view contentType="text/html" id="fview" locale="#{utilsBean.locale}">
        <f:metadata>
            <ui:insert name="metadata" />
        </f:metadata>
        <h:head>
            <title> <h:outputText value="Gechs 2016 Survey Example" /></title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}"/>
            <script type="text/javascript">
                function handleSubmitRequest(xhr, status, args, dialogId) {
                    if (args.validationFailed) {
                        PF(dialogId).jq.effect("shake", {times: 5}, 100);
                    } else {
                        PF(dialogId).hide();
                    }
                }

                function enableTab(tabViewId, tabNumber, value, criteria) {
                    if (value == criteria) {
                        PF(tabViewId).enable(tabNumber);
                    } else {
                        PF(tabViewId).disable(tabNumber);
                    }
                }

                function enableInput(inputId, value, criteria) {
                    if (value == criteria) {
                        PF(inputId).enable();
                    } else {
                        PF(inputId).disable();
                    }
                }

                function enableInputs(inputs, value, criteria) {
                    inputs.forEach(function (entry) {
                        enableInput(entry, value, criteria);
                    });
                }

                function setStatusMessage(message) {
                    $('#txt_status_message').empty().html(message);
                }

                function startDownload() {
                    PF('statusDialog').show();
                }

                function stopDownload() {
                    PF('statusDialog').hide();
                }
            </script>

            <!-- p:calendar locale definition -->
            <script type="text/javascript">
                PrimeFaces.locales['es_CL'] = {
                    closeText: 'Cerrar',
                    prevText: 'Anterior',
                    nextText: 'Siguiente',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                    dayNamesMin: ['D', 'L', 'M', 'X', 'J', 'V', 'S'],
                    weekHeader: 'Semana',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: '',
                    timeOnlyTitle: 'Sólo hora',
                    timeText: 'Tiempo',
                    hourText: 'Hora',
                    minuteText: 'Minuto',
                    secondText: 'Segundo',
                    currentText: 'Fecha actual',
                    ampm: false,
                    month: 'Mes',
                    week: 'Semana',
                    day: 'Día',
                    allDayText: 'Todo el día'
                };
            </script>
            <ui:insert name="head" />
        </h:head>

        <h:body>
            <h:outputStylesheet name="css/default.css" />

            <div id="wrapper">
                <p:dialog widgetVar="statusDialog" appendTo="@(body)" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                    <p:panelGrid columns="1" layout="grid" style="text-align: center">
                        <p:graphicImage name="images/ajax-loader-bar.gif" />
                        <h3><span id="txt_status_message">Espere un momento por favor ...</span></h3>
                    </p:panelGrid>
                </p:dialog>

                <p:layout fullPage="true" resizeTitle="resize">
                    <p:layoutUnit position="north" resizable="false" closable="false" collapsible="false">
                        <ui:include src="header.xhtml" />
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="250" resizable="false" closable="false" collapsible="false" header="Menú Principal">
                        <ui:include src="menu.xhtml" />
                        <div style="bottom: 3px; position: absolute;">
                            Server info:<br/>
                            <ul style="margin-left: -10px"> 
                                <li><p:outputLabel value="Name: #{utilsBean.serverName}"/></li>
                                <li><p:outputLabel value="Ip:  #{utilsBean.serverIp}"/></li>
                            </ul>
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="center">
                        <p:growl id="main_messages" for="main_messages" showDetail="true" life="5000" autoUpdate="true" />
                        <ui:insert name="content" />
                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40">
                        <ui:include src="footer.xhtml" />
                    </p:layoutUnit>
                </p:layout>
            </div>
        </h:body>
    </f:view>
</html>		